HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Server ###
src/main/resources/application-local.yml
src/main/resources/application.yml
src/test/resources/*

*.csv
*.json
**/generated

# Local performance environment
.gradle-local/
artifacts/
docker/local-test/secrets/
docker/local-test/.env
!docker/local-test/grafana/dashboards/*.json
